:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;

  /* Text color */
  --prymary-txt: #ffffff;
  --secondary-txt: #e9e9e9;
  --content-txt: #333333;
  --accent-txt: #28a745;

  // Border colour

  // Bacground-color
  --primary-bgc: #ffffff;
  --accent-bcg: #28a745;
  --blog-bgc: #0284d0;

  // Buttons color
}
