:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;

  /* Text color */
  --prymary-txt: #ffffff;
  --accent-txt: #28a745;

  // Border colour

  // Bacground-color
  --primary-bgc: #ffffff;

  // Buttons color
}
