<section class="about container" id="about">
  <div class="about__container">
    <h2 class="visually-hidden"></h2>
    <ul class="about__list list">
      <li class="about__item">
        <div class="about__shell">
          <svg width="34" height="34" class="about__icon">
            <use href="./images/sprite.svg#icon-university"></use>
          </svg>
        </div>
        <h3 class="about__title">Investmant Banking</h3>
        <p class="about__txt">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about__item">
        <div class="about__shell">
          <svg width="34" height="34" class="about__icon">
            <use href="./images/sprite.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="about__title">Portfolio Manager</h3>
        <p class="about__txt">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about__item">
        <div class="about__shell">
          <svg width="34" height="34" class="about__icon">
            <use href="./images/sprite.svg#icon-pensil"></use>
          </svg>
        </div>
        <h3 class="about__title">Tax & Custudio</h3>
        <p class="about__txt">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>

      <img
        src="/src/images/About/Rectangle@1x-sm.webp"
        alt="team"
        width="320"
      />

      <div class="about__box--left"></div>
      <div class="about__box--right"></div>
    </ul>
  </div>
</section>
