<section class="about container" id="about">
  <div class="about__container">
    <ul class="about__list list">
      <li class="about__item">
        <div class="about__shell">
          <svg width="34" height="34" class="about__icon">
            <use href="./images/sprite.svg#icon-university"></use>
          </svg>
        </div>
        <h3 class="about__title">Investmant Banking</h3>
        <p class="about__txt">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about__item">
        <div class="about__shell">
          <svg width="34" height="34" class="about__icon">
            <use href="./images/sprite.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="about__title">Portfolio Manager</h3>
        <p class="about__txt">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about__item">
        <div class="about__shell">
          <svg width="34" height="34" class="about__icon">
            <use href="./images/sprite.svg#icon-pensil"></use>
          </svg>
        </div>
        <h3 class="about__title">Tax & Custudio</h3>
        <p class="about__txt">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
  <div class="about__box">
    <div class="about__aside--left">
      <img
        class="about__img"
        srcset="
          ./images/About/Rectangle-320.webp   320w,
          ./images/About/Rectangle-384.webp   384w,
          ./images/About/Rectangle-640.webp   640w,
          ./images/About/Rectangle-680.webp   680w,
          ./images/About/Rectangle-768.webp   768w,
          ./images/About/Rectangle-1360.webp 1360w
        "
        src="./images/About/Rectangle-320.webp"
        alt="Team"
        sizes="(min-width: 1360px) 680px, (min-width: 768px) 384px, (max-width: 767px) 320px 100vw"
        width="680"
        height="460"
      />
    </div>
    <div class="about__aside--right">
      <h3 class="about__subject">What you are looking for</h3>
      <h2 class="about__caption">We provide bespoke solutions</h2>
      <p class="about__desc">
        Lorem ipsum dolor, sit amet consectetur padipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="about_btn">Read More</button>
    </div>
  </div>
</section>
