<section class="cases">
  <div class="cases__container">
    <p class="cases__subject">This is what we do</p>
    <h2 class="cases__title">Business Cases</h2>
    <p class="cases__txt">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases__List list">
      <!-- 1 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_01@1x.webp 1x,
              ./images/Cases/desk/cases_desk_01@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_01@1x.webp 1x,
              ./images/Cases/tab/cases_tab_01@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_01@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_01@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_01@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 2 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_02@1x.webp 1x,
              ./images/Cases/desk/cases_desk_02@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_02@1x.webp 1x,
              ./images/Cases/tab/cases_tab_02@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_02@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_02@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_02@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 3 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_03@1x.webp 1x,
              ./images/Cases/desk/cases_desk_03@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_03@1x.webp 1x,
              ./images/Cases/tab/cases_tab_03@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_03@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_03@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_03@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 4 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_04@1x.webp 1x,
              ./images/Cases/desk/cases_desk_04@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_04@1x.webp 1x,
              ./images/Cases/tab/cases_tab_04@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_04@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_04@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_04@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 5 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_05@1x.webp 1x,
              ./images/Cases/desk/cases_desk_05@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_05@1x.webp 1x,
              ./images/Cases/tab/cases_tab_05@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_05@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_05@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_05@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 6 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_06@1x.webp 1x,
              ./images/Cases/desk/cases_desk_06@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_06@1x.webp 1x,
              ./images/Cases/tab/cases_tab_06@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_06@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_06@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_06@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 7 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_07@1x.webp 1x,
              ./images/Cases/desk/cases_desk_07@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_07@1x.webp 1x,
              ./images/Cases/tab/cases_tab_07@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_07@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_07@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_07@1x.webp" alt="busines" />
        </picture>
      </li>
      <!-- 8 -->
      <li class="cases__item">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Cases/desk/cases_desk_08@1x.webp 1x,
              ./images/Cases/desk/cases_desk_08@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Cases/tab/cases_tab_08@1x.webp 1x,
              ./images/Cases/tab/cases_tab_08@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Cases/mobil/cases_mob_08@1x.webp 1x,
              ./images/Cases/mobil/cases_mob_08@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Cases/desk/cases_desk_08@1x.webp" alt="busines" />
        </picture>
      </li>
    </ul>
  </div>
</section>
