<section class="cases">
  <div class="cases__container">
    <p class="cases__subject">This is what we do</p>
    <h2 class="cases__title">Business Cases</h2>
    <p class="cases__txt">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases01_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases02_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases03_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases04_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases05_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases06_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases07_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
    <img
      class="cases__img"
      src="/src/images/Cases/mobil/cases08_264.jpg"
      alt="busines"
      width="264"
      height="176"
    />
  </div>
</section>
