<section class="feedback container" id="about">
  <picture>
    <!-- desk -->
    <source
      media="(min-width: 1360px)"
      srcset="
        ./images/Team/team_desk_01@1x.webp 1x,
        ./images/Team/team_desk_01@2x.webp 2x
      "
      type="image/webp"
    />
    <!-- tablet -->
    <source
      media="(min-width: 768px)"
      srcset="
        ./images/Team/team_tab_01@1x.webp 1x,
        ./images/Team/team_tab_01@2x.webp 2x
      "
      type="image/webp"
    />
    <!-- mobil -->
    <source
      media="(max-width: 767px)"
      srcset="
        ./images/Team/team_mob_01@1x.webp 1x,
        ./images/Team/team_mob_01@2x.webp 2x
      "
      type="image/webp"
    />
    <img src="./images/Team/team_desk_01@1x.webp" alt="team" />
  </picture>
</section>
