<footer class="footer">
  <ul class="team__items list">
    <li class="team__unit">
      <a href="#" class="team__link link">
        <svg width="35" height="35" class="icon">
          <use href="./images/sprite.svg#Fasebook"></use>
        </svg>
      </a>
    </li>
    <li class="team__unit">
      <a href="#" class="team__link link">
        <svg width="35" height="35" class="icon">
          <use href="./images/sprite.svg#Tweeter"></use>
        </svg>
      </a>
    </li>
    <li class="team__unit">
      <a href="#" class="team__link link">
        <svg width="35" height="35" class="icon">
          <use href="./images/sprite.svg#Youtube"></use>
        </svg>
      </a>
    </li>
    <li class="team__unit">
      <a href="#" class="team__link link">
        <svg width="35" height="35" class="icon">
          <use href="./images/sprite.svg#Linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="footer__txt">Copyright © 2021 - FinanceLedger</p>
</footer>
