<header class="header">
  <div class="header__menu container">
    <a href="./index.html" class="header__logo__link link">
      <span
        ><svg width="40" height="35" class="header__logo__icon">
          <use href="./images/sprite.svg#icon-logo"></use></svg
      ></span>
      <span class="header__logo--txt1">Finance</span>
      <span class="header__logo--txt2">Legerd</span>
    </a>

    <nav class="header__nav">
      <ul class="header__nav--list list">
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Home</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">About</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Cases</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Blog</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
