<header>
  <div class="header__menu container">
    <div class="header__logo--cont">
      <a href="./index.html" class="header__logo link">
        <span>icon</span> <span>Finance</span> <span>Legerd</span>
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav--list list">
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Home</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">About</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Cases</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Blog</a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
