<header>
  <div class="header__menu">
    <div class="header__logo--cont">
      <a href="Finance" class="header__logo"></a>
      <a href="Legerg" class="header__logo"></a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav--list">
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link"></a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link"></a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link"></a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link"></a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link"></a>
        </li>
        <li class="header__nav--item">
          <a href="#" class="header__nav--link link"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
