<section class="team container">
  <div class="team__container">
    <p class="team__subject">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__txt">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <ul class="team__list list">
      <!-- 1 -->
      <li class="team__item">
        <div class="team__thumb">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Team/team_desk_01@1x.webp 1x,
              ./images/Team/team_desk_01@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Team/team_tab_01@1x.webp 1x,
              ./images/Team/team_tab_01@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Team/team_mob_01@1x.webp 1x,
              ./images/Team/team_mob_01@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Team/team_desk_01@1x.webp" alt="team" />
        </picture>
        <div class="team__overlay">
          <ul class="team__items list">
            <li class="team__unit">
              <a href="#" class="team__link">
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Fasebook"></use>
          </svg>
          </a> 
        </li>
            <li class="team__unit"> 
              <a href="#" class="team__link">
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Tweeter"></use>
          </svg>
          </a> 
        </li>
            <li class="team__unit">
              <a href="#" class="team__link">  
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Youtube"></use>
          </svg>
          </a>
        </li>
            <li class="team__unit">
              <a href="#" class="team__link"> 
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Linkedin"></use>
          </svg>
              </a>
        </li>
          </ul>
        </div>
        </div>
      </li>
      <!-- 2 -->
      <li class="team__item">
        <div class="team__thumb">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Team/team_desk_02@1x.webp 1x,
              ./images/Team/team_desk_02@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Team/team_tab_02@1x.webp 1x,
              ./images/Team/team_tab_02@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Team/team_mob_02@1x.webp 1x,
              ./images/Team/team_mob_02@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Team/team_desk_02@1x.webp" alt="team" />
        </picture>
        <div class="team__overlay"><ul class="team__items list">
            <li class="team__unit">
              <a href="#" class="team__link">
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Fasebook"></use>
          </svg>
          </a> 
        </li>
            <li class="team__unit"> 
              <a href="#" class="team__link">
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Tweeter"></use>
          </svg>
          </a> 
        </li>
            <li class="team__unit">
              <a href="#" class="team__link">  
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Youtube"></use>
          </svg>
          </a>
        </li>
            <li class="team__unit">
              <a href="#" class="team__link"> 
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Linkedin"></use>
          </svg>
              </a>
        </li>
          </ul>
        </div>
        </div>
      </li>
      <!-- 3 -->
      <li class="team__item">
        <div class="team__thumb">
        <picture>
          <!-- desk -->
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/Team/team_desk_03@1x.webp 1x,
              ./images/Team/team_desk_03@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Team/team_tab_03@1x.webp 1x,
              ./images/Team/team_tab_03@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- mobil -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/Team/team_mob_03@1x.webp 1x,
              ./images/Team/team_mob_03@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./images/Team/team_desk_03@1x.webp" alt="team" />
        </picture>
        <div class="team__overlay">
          <ul class="team__items list">
            <li class="team__unit">
              <a href="#" class="team__link">
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Fasebook"></use>
          </svg>
          </a> 
        </li>
            <li class="team__unit"> 
              <a href="#" class="team__link">
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Tweeter"></use>
          </svg>
          </a> 
        </li>
            <li class="team__unit">
              <a href="#" class="team__link">  
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Youtube"></use>
          </svg>
          </a>
        </li>
            <li class="team__unit">
              <a href="#" class="team__link"> 
              <svg width="35" height="35" class="icon">
            <use href="./images/sprite.svg#Linkedin"></use>
          </svg>
              </a>
        </li>
          </ul>
        </div>
        </div>
      </li>
</section>
