.btn {
  display: block;
  align-items: center;
  text-align: center;
  width: 157px;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--prymary-txt);
  cursor: pointer;
  border: 1px solid var(--primary-bgc);
  border-radius: 5px;
  background-color: transparent;
}
