/**
  |============================
  | About
  |============================
*/

.about__container {
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 52px;
  padding-right: 48px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 31px;
    padding-left: 55px;
    padding-right: 47px;
  }
  @media screen and (min-width: 1360px) {
    padding-bottom: 19px;
    padding-left: 66px;
    padding-right: 66px;
  }
}
.about__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 53px;
  }
  @media screen and (min-width: 1360px) {
    gap: 71px;
  }
}
.about__item {
  @media screen and (min-width: 768px) {
    width: 185px;
  }
  @media screen and (min-width: 1360px) {
    width: 362px;
  }
}
.about__shell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  margin-bottom: 11px;
  border-radius: 50%;
  background-color: var(--accent-bcg);
  &:last-child {
    margin-bottom: 0;
  }
}
.about__title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  text-align: center;
  color: var(--content-txt);
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
.about__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--content-txt);
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 31px;
  }
}

.about__aside--right {
  padding: 30px;
  background-color: var(--accent-bcg);
  @media screen and (min-width: 768px) {
    width: 384px;
  }
  @media screen and (min-width: 1360px) {
    width: 680px;
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
.about__aside--left {
  @media screen and (min-width: 768px) {
    width: 384px;
  }
  @media screen and (min-width: 1360px) {
    width: 680px;
  }
}

.about__box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
