/**
  |============================
  | Blog
  |============================
*/

.blog {
  background-color: var(--blog-bgc);
  @include mq(tab) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.blog__container {
  padding: 30px;
  @include mq(desk) {
    padding: 0;
  }
}

.blog__box {
  @include mq(tab) {
    width: 315px;
  }
  @include mq(desk) {
    width: 680px;
    padding-top: 112px;
    padding-left: 30px;
  }
}
