/**
  |============================
  | Cases
  |============================
*/
.cases,
.team {
  @include section(50, 50);
}
.cases__container,
.team__container {
  padding-left: 28px;
  padding-right: 28px;
  @include mq(tab);
}
.cases__subject,
.team__subject {
  @include fonts(400, 18, 30);
  text-align: center;
  color: var(--content-txt);
  margin-bottom: 15px;
  @include mq(tab) {
    @include fonts(400, 20, 33);
  }
}
.cases__title,
.team__title {
  @include fonts(300, 38, 48);
  text-align: center;
  color: var(--content-txt);
  margin-bottom: 35px;
}

.cases__txt,
.team__txt {
  @include fonts(400, 16, 26);
  text-align: center;
  color: var(--content-txt);
  margin-bottom: 37px;
  @include mq(tab) {
    @include fonts(400, 18, 28);
  }
}

.cases__list,
.team__list {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 8px;
  }
}

.cases__item,
.team__item {
  margin-bottom: 7px;
  &:last-child {
    margin-bottom: 0;
  }
  @include mq(tab) {
    margin-bottom: 0;
  }
}

.team__item {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
  }
  &:hover .team__overlay,
  &:focus .team__overlay {
    transform: translateY(0);
  }
}

.team__thumb {
  position: relative;
  overflow: hidden;
}
.icon {
  fill: #fff;
  transition-property: fill;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: rgb(214, 214, 214);
  }
}

.team__items {
  width: 216px;
  height: 35px;
  display: flex;
  gap: 25px;
}
.team__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
